.output {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.card {
  width: 200px;
  color: #ff8c00;
  margin: 20px;
}

.card-image {
  display: block;
  width: 200px;
  height: 150px;
}

.input_label {
  color: #ff8c00;
  font-size: 16px;
}

.input_field {
  color: #ff4500;
  background: #ffefd5;
  font-size: 12px;
}

.output {
  color: #ff4500;
  font-size: 16px;
}

.btn {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
  cursor: pointer;
  
  padding: 10px 15px;
  border-radius: 1px;
  font-size: 16px;
  line-height: 15px;
/*   text-transform: uppercase; */
  color: white;
  background: #ff8c00;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 0px 2px 8px 2px rgba(141,150,178,.3);
  transform: scale(1.05);
}